dask
dask[distributed]
rasterio<1.4 # see https://github.com/rasterio/rasterio/issues/3064
dea-tools>=0.3.5
cloud-logger @ git+https://github.com/jessjaco/cloud-logger.git
dep-tools @ git+https://github.com/digitalearthpacific/dep-tools.git
dea_coastlines @ git+https://github.com/GeoscienceAustralia/dea-coastlines
eo-tides
joblib
odc-geo>=0.4.2
pyarrow
pyogrio
scikit-learn
typer
xarray-spatial
h5netcdf
