# error in planetary_computer package, likely to be fixed by MS
pydantic<2

git+https://github.com/digitalearthpacific/dep-tools.git@dev/modularize
git+https://github.com/jessjaco/azure-logger.git@d47c955
git+https://github.com/jessjaco/odc-stac.git@exception-fix

# latest tested version
dea-tools==0.2.8dev80
