# issue with taking medians with newer versions
dask<2024.11.0
dask[distributed]<2024.11.0
rasterio<1.4 # see https://github.com/rasterio/rasterio/issues/3064
dea-tools>=0.3.6
# These two things are in conflict. beware!
eo-tides
cloud-logger @ git+https://github.com/jessjaco/cloud-logger.git
dep-tools @ git+https://github.com/digitalearthpacific/dep-tools.git@b850551
dep-grid @ git+https://github.com/digitalearthpacific/dep-grid.git@cleanup
dea_coastlines @ git+https://github.com/GeoscienceAustralia/dea-coastlines
joblib
odc-geo>=0.4.2
pyarrow
pyogrio
scikit-learn #==1.3.2
typer
xarray-spatial
h5netcdf
